<div class="d-flex w-100 mw-100">
  <div class="mx-3">
    <mat-tab-group dynamicHeight="true" animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">description</mat-icon>
          Description
        </ng-template>
      </mat-tab>
      <mat-tab label="Solution">
        <ng-template mat-tab-label>
          <i class="fas fa-flask"></i>
          <!-- <mat-icon class="example-tab-icon">description</mat-icon> -->
          Solution
        </ng-template>
        <div>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">question_answer</mat-icon>
          Discuss
        </ng-template>
        <div>
          
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">access_time</mat-icon>
          Submissions
        </ng-template>
        <div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between">
      <div>
        <select>
          <option *ngFor="let lang of languages" [value]="lang">{{lang}}</option>
        </select>
      </div>
      <div>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <i class="fa-solid fa-brackets-curly"></i>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>fullscreen</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <textarea rows="20" cols="80">

      </textarea>
    </div>
  </div>
</div>